/* Empty. Add your own CSS if you like */
#fhm_page .scroll{
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.fhm_container {
  position:absolute;
  top:105px;
  right:0;
  left:0;
  bottom:0;
}

.fhm_row {
  /* position: absolute; */
  height: 30%;
  left:0;
  right:0;
  background-color:#FFFFFF;
  clear:both;
}
.fhm_item {
  height: 100%;
  width:49.95%;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  float:left;
}

.fhm_control {
  margin: 0 auto;
}

button > img {
    position:absolute;
    top:50%;
    max-height:90%;
    max-width: 90%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
}

.push_button_animal{
  position: relative;
  width:80%;
  height: 80%;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1);
    box-shadow: 0px 9px 0px rgba(219,31,5,1);
    margin: 20px auto;
  text-align: center;
  
  /*-webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;*/
}

.push_button_animal[disabled]{
  background-color: rgba(213,170,144,1);
    -webkit-box-shadow: 0px 9px 0px rgba(213,152,144,1);
    -moz-box-shadow: 0px 9px 0px rgba(213,152,144,1);
    box-shadow: 0px 9px 0px rgba(213,152,144,1);
}

.push_button_animal.activated{
    -webkit-box-shadow: 0px 1px 0px rgba(219,31,5,1);
    -moz-box-shadow: 0px 1px 0px rgba(219,31,5,1);
    box-shadow: 0px 1px 0px rgba(219,31,5,1);
    position: relative;
    top: 8px;
}

.push_button_comic{
  position: relative;
  width:80%;
  height: 80%;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(0, 153, 255,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(0, 77, 128,1);
    -moz-box-shadow: 0px 9px 0px rgba(0, 77, 128,1);
    box-shadow: 0px 9px 0px rgba(0, 77, 128,1);
    margin: 20px auto;
  text-align: center;
  
  /*-webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;*/
}

.push_button_comic[disabled]{
  background-color: rgba(144, 185, 213,1);
    -webkit-box-shadow: 0px 9px 0px rgba(63, 125, 166,1);
    -moz-box-shadow: 0px 9px 0px rgba(63, 125, 166,1);
    box-shadow: 0px 9px 0px rgba(63, 125, 166,1);
}

.push_button_comic.activated{
    -webkit-box-shadow: 0px 1px 0px rgba(0, 77, 128,1);
    -moz-box-shadow: 0px 1px 0px rgba(0, 77, 128,1);
    box-shadow: 0px 1px 0px rgba(0, 77, 128,1);
    position: relative;
    top: 8px;
}

.push_button_banda{
  position: relative;
  width:80%;
  height: 80%;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(51, 204, 51,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(37, 142, 37,1);
    -moz-box-shadow: 0px 9px 0px rgba(37, 142, 37,1);
    box-shadow: 0px 9px 0px rgba(37, 142, 37,1);
    margin: 20px auto;
  text-align: center;
  
  /*-webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;*/
}

.push_button_banda[disabled]{
  background-color: rgba(144, 213, 144,1);
    -webkit-box-shadow: 0px 9px 0px rgba(89, 192, 89,1);
    -moz-box-shadow: 0px 9px 0px rgba(89, 192, 89,1);
    box-shadow: 0px 9px 0px rgba(89, 192, 89,1);
}

.push_button_banda.activated{
    -webkit-box-shadow: 0px 1px 0px rgba(37, 142, 37,1);
    -moz-box-shadow: 0px 1px 0px rgba(37, 142, 37,1);
    box-shadow: 0px 1px 0px rgba(37, 142, 37,1);
    position: relative;
    top: 8px;
}