<ion-view title="Author" hide-nav-bar="false" id="page2" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 6px;"></div>
        <h2 id="author-heading3" style="color:#000000;text-align:center;">Marcos Facundo Murcia</h2>
        <div>
            <img src="img/oQSFKSWfSRmDVKf0Ih0l_10486218_10204330730809258_5442936427605261941_n.jpg" width="200px" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <a ng-click="OpenGitHub()" id="author-button2" class="button button-dark  button-block icon ion-social-github"> Perfil de Github</a>
        <a ng-click="OpenMail()" id="author-button3" class="button button-positive  button-block icon ion-android-mail"> marcosmurcia92@gmail.com</a>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div id="author-markdown3" style="color:#000000;text-align:center;">
            <p>
                <strong>UTN FRA 2016 - Leg. 103.319</strong>
            </p>
        </div>
    </ion-content>
</ion-view>
