<ion-view view-title="Perfil Desarollador">
  <ion-content>
   <div class="list">

	  <a class="item item-avatar">
	    <img src="img/avatar.jpg">
	     <h2>Jonathan Vasquez Serrudo</h2>
	  </a>

	  <a class="item item-icon-left">
	    <i class="icon ion-email"></i>
	    vaskezjohn@gmail.com
	  </a>

	  <a class="item item-icon-left" ng-click="OpenGitHub()">
	    <i class="icon ion-social-github"></i>
	    GitHub VaskezJohn
	  </a>


	  <a class="item item-icon-left">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	    <span class="badge badge-assertive">0</span>
	  </a>

	</div>
  </ion-content>
</ion-view>
